.root {
    -fx-font-size: 16px;
    -fx-background-size: stretch stretch;
    -fx-background-position: center center;
}

.order-node{
    -fx-font-size:14;
    -fx-background-image: url('../image/order.png');
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-text-fill: #000000;
    -jfx-toggle-line-color: #06b8ee;
}

.list-node{
    -fx-font-size:14;
    -fx-background-image: url('../image/choices.png');
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-text-fill: #000000;
    -jfx-toggle-line-color: #06b8ee;
}

.info-node{
    -fx-font-size:14;
    -fx-background-image: url('../image/user.png');
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-text-fill: #000000;
    -jfx-toggle-line-color: #06b8ee;
}


   /* CSS */
.button-29 {
   align-items: center;
   appearance: none;
   border: 0;
   border-radius: 6px;
   box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   display: inline-flex;
   font-family: "JetBrains Mono",monospace;
   height: 48px;
   justify-content: center;
   line-height: 1;
   list-style: none;
   overflow: hidden;
   padding-left: 16px;
   padding-right: 16px;
   position: relative;
   text-align: left;
   text-decoration: none;
   transition: box-shadow .15s,transform .15s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   white-space: nowrap;
   will-change: box-shadow,transform;
   font-size: 18px;
}


.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}
