.root {
    -fx-font-size: 16px;
    -fx-background-size: stretch stretch;
    -fx-background-position: center center;
}

/*Raised button example */
-fx-button-1 {
    -fx-padding:0.5em 0.5em;
    -fx-font-size:14;
    -fx-background-color:rgb(77, 102, 204);
    -fx-pref-width:100;
    -fx-text-fill:#FFFFFF;
    -fx-spacing:0.25em;
}

/*register button example */
.fx-button-2 {
    -fx-padding:0.5em 0.5em;
    -fx-font-size:14;
    -fx-background-color: rgba(240, 243, 243, 0);
    -fx-pref-width:100;
    -fx-text-fill: #000000;
    -fx-spacing:0.25em;
}

.back-button {
    -fx-font-size:14;
    -fx-background-image: url('../image/backbutton.png');
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-text-fill: #000000;
}

.shiny-orange {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -jfx-button-type:RAISED;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.jfx-text-field{
    -fx-text-limit: 40;
    -fx-line-color: rgb(204, 255, 255);
    -jfx-disable-animation: true;
}

.jfx-password-field{
    -fx-text-limit: 40;
    -fx-line-color: rgb(204, 255, 255);
    -jfx-disable-animation: true;
}

.green {
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
